{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-4">
  <h2>{{ title }}</h2>

  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Save</button>

    {% if title == "Category" %}
      <a href="{% url 'create_product' %}" class="btn btn-secondary">Back to Products</a>
    {% elif title == "Unit" %}
      <a href="{% url 'category_unit_list' %}" class="btn btn-secondary">Back to Units</a>
    {% else %}
      <a href="{% url 'product_list' %}" class="btn btn-secondary">Back to Inventory</a>
    {% endif %}
  </form>
</div>
{% endblock %}