{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="d-flex">
  {% include "includes/sidebars.html" %}
  <div class="flex-grow-1">
    {% include "includes/navs.html" %}
    <div class="container mt-4">
      <h2>{{ title }}</h2>
      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">{{ button_label|default:"Save Supplier" }}</button>
        <a href="{% url 'supplier_list' %}" class="btn btn-secondary">Cancel</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}